*{
    padding: 0;
    margin: 0;
}
#main-doc{
    display: block;
   height: 100%;
   width: 100%;
}
#navbar{
 
    top: 0;
    position: sticky;
    display:block;
    flex-direction: column;
    border: 2px solid black;
    height:100vh;
    width: 25%;
    margin-left: 0;
}
#navbar header{
    font-size: 0.7rem;
    padding:2rem
}
#navbar ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    border-top:1px solid black;
}
#navbar ul li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
}
.main-section{
    position:relative ;
    margin-left:26%;
    max-width: 75%;
   top: -620px;
   padding: 2rem;
   /* display: none; */
}

@media (max-width:800px){
    #navbar{
      display: none;
    }
}